.hats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(
    100px,
    auto
  ); /* adjust the minimum row height as needed */
  gap: 10px; /* adjust the gap between grid items as needed */
}

.btn-container {
  display: flex;
  height: 100%;
  justify-content: start;
  align-items: end;
}
